* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: iconfont;
    src: url(../Fonts/trajan-pro-cufonfonts/TrajanPro-Regular.ttf), url(../Fonts/HanYiZhongSongJian-1.ttf) format('truetype');
}

@font-face {
    font-family: Exo;
    src: url(../Fonts/Exo-Medium.ttf);
}

@font-face {
    font-family: Yahei;
    src: url(../Fonts/微软雅黑.ttf);
}

body {

    background-color: #000000;
    overflow-x: hidden;
}

main {
    text-align: center;
    margin-top: 8px;
}

#top-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#top-bar li {
    position: relative;
    float: left;
    margin-right: 10px;
}

/* 二级菜单初始状态 */
#top-bar li ul {
    position: absolute;
    background: rgba(35, 28, 26, 0.8);
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    /* 初始最大高度为 0 */
    transition: max-height 0.5s ease;
    /* 使用 max-height 实现展开动画 */
}

/* 悬浮时显示二级菜单并缓缓展开 */
#top-bar li:hover ul {
    max-height: 300px;
    /* 设置一个足够大的最大高度，以容纳所有内容 */
    padding: 5px 0;
    /* 设置显示时的内边距 */
}

#top-bar li a {
    display: inline-block;
    /* 让链接根据内容宽度自动调整 */
    padding: 0 20px;
    /* 给左右适当的内边距 */
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
    color: #fff6e6;
}

#top-bar li a:hover {
    color: #fae596;
}

#top-bar li ul li {
    line-height: 40px;
    width: 100%;
    text-align: center;
}

/* 调整二级菜单项的字体大小 */
#top-bar li ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-bar li ul li a {
    text-align: center;
    padding: 0 20px;
}

#top-bar li ul li a {
    font-size: 16px;
    /* 调整字体大小 */
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    /* 设置内边距，使其与一级菜单的悬浮边框一致 */
    transition: background-color 0.3s ease, border 0.3s ease;
    display: inline-block;
    /* 使二级菜单项自适应文字宽度 */
    color: #fff6e6;
}

/* 二级菜单项悬浮时的效果 */
#top-bar li ul li a:hover {

    background-color: rgba(255, 255, 255, 0.2);
    color: #fae596;
}

#top-bar li ul li a:hover~#top-bar li a {
    color: #fae596;
}

header {
    background-color: rgba(35, 28, 26, 0.8);
    height: 80px;
    width: 100%;
    position: fixed;
    font-family: iconfont, serif;
    font-size: 1.5em;
    z-index: 9999;
}

header h1 {
    color: #fff6e6;
    position: absolute;
    left: 100px;
    top: 0;
    line-height: 80px;
    background-image: url(../images/Logo.png);
    background-size: 100%, auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-indent: -9999px;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header a img {
    position: absolute;
    left: 100px;
    top: 10px;
    line-height: 40px;
    width: 250px;
    text-indent: -9999px;
}

header a {
    color: #fff6e6;
    text-decoration: none;
    transition: color 0.5s;
}

header a:hover {
    color: #96ABFA;
    text-decoration: none;
}



h1 {

    margin-top: auto;
    line-height: 4em;
    font-family: iconfont, serif;
    font-size: 44px;
    text-transform: uppercase;
    color: #fff6e6;
}

p {

    margin-top: auto;
    font-family: iconfont, serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff6e6;
}

span::before {
    content: '';
    display: inline-block;
    height: 350px;
    width: 0;
}

footer {
    text-align: center;
}

/*!gamebutton*/

.btn {
    font-size: 20px;
    font-family: iconfont, serif;
    overflow: visible;
    margin: 0 40%;
    padding: 0;
    border: 0;
    background: transparent;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: text;
    /* Firefox */
    -webkit-user-select: text;
    /* Safari and Chrome */
    -ms-user-select: text;
    /* Internet Explorer/Edge */
    user-select: text;
    /* Standard property */
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: #000000;
    color: #FCF6E5;
    border: 2px solid #FCF6E5;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all 0.7s ease;
}

.btn:-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn--stripe {
    overflow: hidden;
    position: relative;
}

.btn--stripe:after {
    content: "";
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #FCF6E5, #FCF6E5 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #FCF6E5;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
}

.btn--stripe:hover {
    background-color: #FCF6E5;
    color: #000;
    border-color: #fff6e6;
}

.btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #000, #000 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #fff6e6;
    animation: stripe-slide 12s infinite linear forwards;
}

.btn--large {
    width: 50%;
}

.btn--radius {
    border-radius: 36px;
}


/*!gallery*/

.gallery {
    padding: 75px 0;
    margin: 0 10%;
    width: 1800px;
    text-align: center;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70vh;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;

    &:hover {
        cursor: pointer;
        flex: 7;
    }
}

.item-1 {
    background-image: url(../images/Olympic-Cities/2000Sydney.jpg);

}

.item-2 {
    background-image: url(../images/Olympic-Cities/2004Athens.jpg);
}

.item-3 {
    background-image: url(../images/Olympic-Cities/2012London.jpg);
}

.item-4 {
    background-image: url(../images/Olympic-Cities/2008Beijing.jpg);
}

.item-5 {
    background-image: url(../images/Olympic-Cities/2016Rio.jpg);
}

.item-6 {
    background-image: url(../images/Olympic-Cities/2020Tokyo.jpg);
}

.item-7 {
    background-image: url(../images/Olympic-Cities/2024Paris.jpg);
}




/*!sportsinside*/
/* 容器样式 */
.containerSpr {
    width: 1250px;
    height: 540px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* 重叠的图片样式 */
.containerSpr img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease, z-index 0s ease, filter 0.5s ease;
}

/* 初始 z-index 设置 */
.containerSpr img:nth-of-type(1) {
    z-index: 1;
    transform-origin: 0px 270px;
}

.containerSpr img:nth-of-type(2) {
    z-index: 2;
    transform-origin: 120px 270px;
}

.containerSpr img:nth-of-type(3) {
    z-index: 3;
    transform-origin: 240px 270px;
}

.containerSpr img:nth-of-type(4) {
    z-index: 4;
    transform-origin: 360px 270px;
}

.containerSpr img:nth-of-type(5) {
    z-index: 5;
    transform-origin: 480px 270px;
}

/* 切分区域样式 */
.slice {
    flex: 1;
    width: 120px;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: transparent;
    pointer-events: all;
    cursor: pointer;
}

/* 使切分区域均匀分布在容器的左边 480px */
.slice:nth-of-type(1) {
    left: 0;
}

.slice:nth-of-type(2) {
    left: 120px;
}

.slice:nth-of-type(3) {
    left: 240px;
}

.slice:nth-of-type(4) {
    left: 360px;
}

.slice:nth-of-type(5) {
    left: 480px;
    width: 770px;
}

/* 鼠标悬停效果，使对应图片浮到最上层并缩小 */
.slice:nth-of-type(1):hover~img:nth-of-type(1),
.slice:nth-of-type(2):hover~img:nth-of-type(2),
.slice:nth-of-type(3):hover~img:nth-of-type(3),
.slice:nth-of-type(4):hover~img:nth-of-type(4),
.slice:nth-of-type(5):hover~img:nth-of-type(5) {
    z-index: 6;
    transform: scale(0.95);
    filter: none;
}

/* 鼠标悬停时，其他图片亮度降低 */
.slice:nth-of-type(1):hover~img:nth-of-type(2),
.slice:nth-of-type(1):hover~img:nth-of-type(3),
.slice:nth-of-type(1):hover~img:nth-of-type(4),
.slice:nth-of-type(1):hover~img:nth-of-type(5),
.slice:nth-of-type(2):hover~img:nth-of-type(1),
.slice:nth-of-type(2):hover~img:nth-of-type(3),
.slice:nth-of-type(2):hover~img:nth-of-type(4),
.slice:nth-of-type(2):hover~img:nth-of-type(5),
.slice:nth-of-type(3):hover~img:nth-of-type(1),
.slice:nth-of-type(3):hover~img:nth-of-type(2),
.slice:nth-of-type(3):hover~img:nth-of-type(4),
.slice:nth-of-type(3):hover~img:nth-of-type(5),
.slice:nth-of-type(4):hover~img:nth-of-type(1),
.slice:nth-of-type(4):hover~img:nth-of-type(2),
.slice:nth-of-type(4):hover~img:nth-of-type(3),
.slice:nth-of-type(4):hover~img:nth-of-type(5),
.slice:nth-of-type(5):hover~img:nth-of-type(1),
.slice:nth-of-type(5):hover~img:nth-of-type(2),
.slice:nth-of-type(5):hover~img:nth-of-type(3),
.slice:nth-of-type(5):hover~img:nth-of-type(4) {
    filter: brightness(0.5);
}


/*!game*/

.game {
    text-align: center;
}