* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: iconfont;
    src: url(../../fonts/trajan-pro-cufonfonts/TrajanPro-Regular.ttf), url(../../fonts/HanYiZhongSongJian-1.ttf) format('truetype');
}

@font-face {
    font-family: Exo;
    src: url(../../fonts/Exo-Medium.ttf);
}

@font-face {
    font-family: TraBold;
    src: url(../../fonts/trajan-pro-cufonfonts/TrajanPro-Bold.otf);
}

@font-face {
    font-family: Yahei;
    src: url(../../fonts/微软雅黑.ttf);
}
#top-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#top-bar li {
    position: relative;
    float: left;
    margin-right: 10px;
}

/* 二级菜单初始状态 */
#top-bar li ul {
    position: absolute;
    background: rgba(35, 28, 26, 0.8);
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    overflow: hidden;
    max-height: 0;
    /* 初始最大高度为 0 */
    transition: max-height 0.5s ease;
    /* 使用 max-height 实现展开动画 */
}

/* 悬浮时显示二级菜单并缓缓展开 */
#top-bar li:hover ul {
    max-height: 300px;
    /* 设置一个足够大的最大高度，以容纳所有内容 */
    padding: 5px 0;
    /* 设置显示时的内边距 */
}

#top-bar li a {
    display: inline-block;
    /* 让链接根据内容宽度自动调整 */
    padding: 0 20px;
    /* 给左右适当的内边距 */
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
    color: #fff;
}

#top-bar li a:hover {
    color: #fae596;
}

#top-bar li ul li {
    line-height: 40px;
    width: 100%;
    text-align: center;
}

/* 调整二级菜单项的字体大小 */
#top-bar li ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-bar li ul li a {
    text-align: center;
    padding: 0 20px;
}

#top-bar li ul li a {
    font-size: 16px;
    /* 调整字体大小 */
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    /* 设置内边距，使其与一级菜单的悬浮边框一致 */
    transition: background-color 0.3s ease, border 0.3s ease;
    display: inline-block;
    /* 使二级菜单项自适应文字宽度 */
    color: #fff;
}

/* 二级菜单项悬浮时的效果 */
#top-bar li ul li a:hover {

    background-color: rgba(255, 255, 255, 0.2);
    color: #fae596;
}

#top-bar li ul li a:hover~#top-bar li a {
    color: #fae596;
}
body {
    background-color: #000000;
    overflow-x: hidden;
    margin: 0;
}

main {
    text-align: center;
    margin-top: 8px;
    font-family: iconfont, serif;
}

header {
    background-color: rgba(35, 28, 26, 0.8);
    height: 80px;
    width: 100%;
    position: fixed;
    font-family: iconfont, serif;
    font-size: 1.5em;
    z-index: 9999;
}

header h1 {
    color: #fff6e6;
    position: absolute;
    left: 100px;
    top: 0;
    line-height: 80px;
    background-image: url(../images/Logo.png);
    background-size: 100%, auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-indent: -9999px;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header a img {
    position: absolute;
    left: 100px;
    top: 10px;
    line-height: 40px;
    width: 250px;
    text-indent: -9999px;
}

header a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

header a:hover {
    color: #96ABFA;
    text-decoration: none;
}

h1 {
    margin-top: auto, auto;
    line-height: 4em;
    font-family: iconfont, serif;
    font-size: 44px;
    text-transform: uppercase;
    color: #fff6e6;
}

p {
    margin-top: auto, auto;
    font-family: iconfont, serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff6e6;
}

span::before {
    content: '';
    display: inline-block;
    height: 700px;
    width: 0;
}

footer {
    text-align: center;
}

canvas {
    display: block;
    background-color: #FCF6E5;
    margin: 0 auto;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: black;
}

#highestScore {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: black;
}

.container1 {
    width: 80%;
    height: 800px;
    position: relative;
    margin: 0 auto;
    background-image: url("./resources/gameBackground.jpg");
    background-position: 50%, 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.child-container {
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container1score {
    top: 250px;
    height: 100px;
}

.container1canvas {
    top: 310px;
    height: 100px;
}

.container1button {
    top: 420px;
    height: 200px;
}

.restartButton,
.beginButton {
    background-color: #B69968;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: TraBold, serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.restartButton:hover,
.beginButton:hover {
    background-color: #FFF9E8;
    color: #b8860b;
    border: 1px solid #ccc;
}