/*!gamebutton*/

.btn {
    font-size: 20px;
    font-family: iconfont, serif;
    overflow: visible;
    margin: 0 40%;
    padding: 0;
    border: 0;
    background: transparent;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: text;
    /* Firefox */
    -webkit-user-select: text;
    /* Safari and Chrome */
    -ms-user-select: text;
    /* Internet Explorer/Edge */
    user-select: text;
    /* Standard property */
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: #000000;
    color: #FCF6E5;
    border: 2px solid #FCF6E5;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all 0.7s ease;
}

.btn:-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn--stripe {
    overflow: hidden;
    position: relative;
}

.btn--stripe:after {
    content: "";
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #FCF6E5, #FCF6E5 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #FCF6E5;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
}

.btn--stripe:hover {
    background-color: #FCF6E5;
    color: #000;
    border-color: #fff6e6;
}

.btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #000, #000 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #fff6e6;
    animation: stripe-slide 12s infinite linear forwards;
}

.btn--large {
    width: 50%;
}

.btn--radius {
    border-radius: 36px;
}