@import url("../public/font.css");

canvas {
    display: block;
    background-color: #FCF6E5;
    margin: 0 auto;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-family: mainFontStyle, serif;
    color: black;
}

#highestScore {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-family: mainFontStyle, serif;
    color: black;
}

.container1 {
    width: 80%;
    height: 800px;
    position: relative;
    margin: 0 auto;
    background-image: url("../../resources/gamePage/image/gameBackground.jpg");
    background-position: 50%, 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.child-container {
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container1score {
    top: 250px;
    height: 100px;
}

.container1canvas {
    top: 310px;
    height: 100px;
}

.container1button {
    top: 420px;
    height: 200px;
}

.restartButton,
.beginButton {
    background-color: #B69968;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: TraBold, serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.restartButton:hover,
.beginButton:hover {
    background-color: #fff9E8;
    color: #b8860b;
    border: 1px solid #ccc;
}