* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: iconfont;
    src: url(../../Fonts/HanYiZhongSongJian-1.ttf) format('truetype'), url(../../Fonts/trajan-pro-cufonfonts/TrajanPro-Regular.ttf), serif;
}

body {

    background-color: #000000;
}

main {
    text-align: center;
}

header {
    background-color: rgba(35, 28, 26, 0.8);
    height: 80px;
    width: 100%;
    position: fixed;
    font-family: iconfont;
    font-size: 1.5em;
    z-index: 9999;
}

header h1 {
    color: #fff6e6;
    position: absolute;
    left: 100px;
    top: 0;
    line-height: 80px;
    background-image: url(../images/Logo.png);
    background-size: 100%, auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-indent: -9999px;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header a img {
    position: absolute;
    left: 100px;
    top: 10px;
    line-height: 40px;
    width: 250px;
    text-indent: -9999px;
}

header a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

header a:hover {
    color: #96ABFA;
    text-decoration: none;
}

h1 {

    margin-top: auto, auto;
    line-height: 4em;
    font-family: "Trajan Pro", Times, serif;
    font-size: 44px;
    text-transform: uppercase;
    color: #fff6e6;
}

p {

    margin-top: auto, auto;
    font-family: "Trajan Pro", Times, serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff6e6;
}

footer {
    text-align: center;
}

/*!瀑布流*/

/* 瀑布流最外层 */
#masonry {
    margin: 0 auto;
    width: 1200px;
    column-count: 5;
    column-width: 240px;
    column-gap: 20px;
}

/* 每一列图片包含层 */
.colu {
    margin-bottom: 10px;
    /* 防止多列布局，分页媒体和多区域上下文中的意外中断 */
    break-inside: avoid;
    background: #B69968;
    border-radius: 0 0 15px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.colu:hover {
    box-shadow: 0px 2px 18px 0px rgba(255, 255, 255, 0.4),
        0px 7px 13px 3px rgba(255,
            255,
            255, 0.3),
        0px 3px 0px 0px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* 图片 */
.AthletesImg {
    width: 100%;
    vertical-align: middle;
}

/* 图片下的信息包含层 */
.AthletesInfo {
    padding: 5px 10px;
}

.AthletesName {
    margin-left: 5px;
    color: #fff6e6;
    font-family: "华文中宋";
    font-size: 20px;
}

/*!图片轮播*/

#box {
    width: 60%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: auto;
    text-align: center;
}

#lunboimg {
    width: 400px;
    height: 400px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
}

#box a {
    height: 400px;
    width: 400px;
}

#box img {
    margin: 0 auto;
    position: absolute;
    width: 400px;
    height: 400px;
    transition: opacity 1s;
}

#box:hover #selector {
    display: flex;
}

#selector {
    width: 80px;
    height: 20px;
    position: absolute;
    bottom: 0;
    display: none;
    justify-content: space-between;
    z-index: 100;
    margin: auto auto;
    position: absolute;
        left: 50%;
        transform: translateX(-50%);

}

#selector>span {
    width: 35px;
    height: 15px;
    border-radius: 7.5px;
    background-color: #b8860b;
    opacity: 0.8;
    margin: auto;
    cursor: pointer;

}

#selector>span:hover {
    background-color: #e5c85b;
}

#left,
#right {
    width: 40px;
    height: 240px;
    position: absolute;
    top: 90px;
    background-color: #b8860b;
    font-size: 35px;
    border-radius: 8px;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
    color: #fae596;
}

#left {
    left: 0;
    margin: auto auto;
}

#right {
    right: 0;
    margin: auto auto;
}

#left:hover,
#right:hover {
    background-color: #ce8f00;
    color: #ffec89;
}