* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: iconfont;
    src: url(../../Fonts/trajan-pro-cufonfonts/TrajanPro-Regular.ttf), url(../../Fonts/HanYiZhongSongJian-1.ttf) format('truetype');
}

body {

    background-color: #000000;
}

main {
    text-align: center;
}

header {
    background-color: rgba(35, 28, 26, 0.8);
    height: 80px;
    width: 100%;
    position: fixed;
    font-family: iconfont, serif;
    font-size: 1.5em;
    z-index: 9999;
}

header h1 {
    color: #fff6e6;
    position: absolute;
    left: 100px;
    top: 0;
    line-height: 80px;
    background-image: url(../images/Logo.png);
    background-size: 100%, auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-indent: -9999px;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header a img {
    position: absolute;
    left: 100px;
    top: 10px;
    line-height: 40px;
    width: 250px;
    text-indent: -9999px;
}

header a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

header a:hover {
    color: #96ABFA;
    text-decoration: none;
}

h1 {

    margin-top: auto, auto;
    line-height: 4em;
    font-family: iconfont, serif;
    font-size: 44px;
    text-transform: uppercase;
    color: #fff6e6;
}

h2 {

    margin-top: auto, auto;
    line-height: 4em;
    font-family: iconfont, serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff6e6;
}

p {

    margin-top: auto, auto;
    font-family: iconfont, serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff6e6;
    display: inline-block;
    vertical-align: middle;
    text-align: left
}

footer {
    text-align: center;
}

/*!瀑布流*/

/* 瀑布流最外层 */
#masonry {
    margin: 0 auto;
    width: 1200px;
    column-count: 5;
    column-width: 240px;
    column-gap: 20px;
}

/* 每一列图片包含层 */
.colu {
    margin-bottom: 10px;
    /* 防止多列布局，分页媒体和多区域上下文中的意外中断 */
    break-inside: avoid;
    background: #B69968;
    border-radius: 0 0 15px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.colu:hover {
    box-shadow: 0px 2px 18px 0px rgba(255, 255, 255, 0.4),
        0px 7px 13px 3px rgba(255,
            255,
            255, 0.3),
        0px 3px 0px 0px rgba(255, 255, 255, 0.2) inset;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* 图片 */
.AthletesImg {
    width: 100%;
    vertical-align: middle;
}

/* 图片下的信息包含层 */
.AthletesInfo {
    padding: 5px 10px;
}

.AthletesName {
    margin-left: 5px;
    color: #fff6e6;
    font-family: "华文中宋", serif;
    font-size: 20px;
}

/*!徽标选择*/







.gallery {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.image-container {
    position: relative;
    width: 200px;
    margin-bottom: 20px;
    margin: auto,10%;
}


.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    cursor: pointer;
    border-radius: 10px;
    /* 鼠标放在图片上变成手型 */
}

.image-container:hover img {
    transform: scale(1.1);
    /* 鼠标放在图片上图片变大 */
    transform: rotateX(-10deg) rotateY(20deg);
}

.description {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.65s ease;
    transform: translateY(-100%);
    margin-bottom: 10px;
    /* 为动画提供空间 */
    overflow: hidden;
    /* 确保边框不会超出描述文字的边界 */
}

.description-border {
    position: absolute;
    top: -20%;
    left: -20%;
    right: -20%;
    height: 0;
    /* 初始高度为0 */
    border: 2px solid #F9EDAD;
    /* 黄色边框 */
    border-radius: 0 30px 0 30px;
    transition: height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
    /* 防止边框影响鼠标事件 */
}

.image-container:hover .description {
    opacity: 1;
    transform: translateY(0);
}

.image-container:hover .description-border {
    height: 280%;
    /* 鼠标悬停时，边框高度与描述文字相同 */
    opacity: 1;
}

