@import url("../public/font.css");

/*!gamebutton*/
.btn {
    font-size: 20px;
    font-family: iconfont, serif;
    margin: 7% 40%;
    background: transparent;
    line-height: normal;
    cursor: pointer;
    display: block;
    padding: 16px 36px 22px;
    color: #FCF6E5;
    border: 2px solid #FCF6E5;
    border-radius: 6px;
    transition: all 0.7s ease;
    border-radius: 36px;
}


.btn--stripe {
    overflow: hidden;
    position: relative;
}

.btn--stripe:after {
    content: "";
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #FCF6E5, #FCF6E5 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #FCF6E5;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
}

.btn--stripe:hover {
    background-color: #FCF6E5;
    color: #000;
    border-color: #fff6e6;
    box-shadow: 10px 10px 9999px 0px #FCF6E5;
    z-index: 0;
}

.btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #000, #000 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #fff6e6;
    animation: stripe-slide 12s infinite linear forwards;
}

